<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <!-- <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">CODIUM TEST </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['dashboard']">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['testA']">Test-A</a>
            <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['testB']">Test-B</a>
            <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['testC']">Test-C</a>
        </div>
    </div> -->
    <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>